<mat-checkbox
#showDetails
[checked]="isChecked"
(change)="onChange($event)"
labelPosition='before'
>Show details</mat-checkbox>

<div *ngIf="isChecked">Some information..</div>
<br>
<br>
<mat-radio-group value="1">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="2">Female</mat-radio-button>
</mat-radio-group>
<p>ok primjer https://material.angular.io/components/radio/examples</p>

<br>
<br>
<mat-form-field>
    <mat-select placeholder="Favorite food" (change)="logSelectedItem($event)" [value]="foods[1].value">
        <!--mosh je umesto [value] pisao [(ngModel)]-->
        
        <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>

<br>
<br>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input 
        #hrana="ngModel"
        #hranaHtml
        ngModel
        name="hrana" matInput placeholder="Omiljena hrana"
        value="Krompirača-ovo ne radi ako koristi  ngModel??!!"
        required (keyup.enter)="logInput(hrana)" maxlength="25">
        <mat-hint>Kobasica, krompir, kiseli kupus</mat-hint>
        <mat-hint align="end">{{hranaHtml.value.length}} / 20</mat-hint>
        <span matSuffix>@bunjevci</span>
        <span matPrefix>Vruća:</span>
        <mat-error *ngIf="hrana.invalid && hrana.dirty">
            Unesite naziv svog omiljenog jela.(ovako raditi u angular materials.)
        </mat-error>
    </mat-form-field>
    <div *ngIf="hrana.invalid && hrana.dirty">
            Ovako pisati errore samo u template/reactive forms, ne u angular materials.
    </div>
<br><br>
    <mat-form-field>
            <textarea 
            placeholder="Textarea"
            matInput 
            matAutosizeMinRows="1" 
            matAutosizeMaxRows="5"
            matTextareaAutosize></textarea>
    </mat-form-field>
</form>
<br><br>
<p>U ovom trenutku datepicker je bugovit..(npr greska za invalid date ako se upise rucno) 
    .idi tu https://material.angular.io/components/datepicker/overview
    .vidi i moment.js u kombinaciji sa ovim</p>
<mat-form-field>
    <input
    (focus)="picker.open()"
    [min]="minDate"
    [max]="maxDate"
    matInput [matDatepicker]="picker" placeholder="Choose a date"><!--vezes prvi na treci red-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle><!--ikonica desna-->
    <mat-datepicker #picker></mat-datepicker><!--ako se ne vidi na mobitelima onda ubaci touchUi="true"-->
  </mat-form-field>
  <br><br>
  <mat-icon class="moja-ikona" >home</mat-icon>
  <mat-icon class="moja-ikona">add_alert</mat-icon>
  <br> <br>
  <button mat-button color="primary">Click me!</button>
  <button mat-raised-button color="primary">Click me!</button>
  <button mat-fab color="primary"><mat-icon>check</mat-icon></button>